html { margin:0px; padding:0px; height: 101%; min-height: 101%; }
body { margin:0px; padding:0px; height: 100%; min-height: 101%; background: #ffffff;}

@font-face { font-family: "Poppins-Regular"; src: url("Fonts/Poppins-Regular.ttf");}
@font-face { font-family: "Poppins-Medium"; src: url("Fonts/Poppins-Medium.ttf");}
@font-face { font-family: "Poppins-Bold"; src: url("Fonts/Poppins-bold.ttf");}

h1, h2, h3, h4 {margin: 0; padding: 0 0 10px 0; font-family: "Poppins-Medium"; color: #333333; }
input, textarea { font-family: "Poppins-Regular"; }
p {margin: 0; padding: 0 0 10px 0; font-family: "Poppins-Regular";}
img { display: block; margin: 0; outline: none; padding: 0; max-width: 100%; width: auto; }
div:after {clear: both; content: ""; display: block; height: 0; visibility: hidden; }
.clear {clear: both;}

.content-wrap { padding: 0 100px; position: relative; }
.content-wrap .content { padding: 100px 0; position: relative; }
.content-wrap .content .left { position: absolute; top: 50%; transform: translateY(-50%); left: 0; }
.content-wrap .content .right { float: right; width: 45%; }
.content-wrap .content h4 { font-size: 200%; padding: 0; }
.content-wrap .content h1 { font-size: 550%; letter-spacing: -4px; color: blue; line-height: 100%;}

.images .image { position: relative; }
.images .image .overlay { position:absolute; top:0; left: 0; width: 100%; height:100%; background: rgba( 0,0,0,0.2); }
.images .image .overlay .inner { position:absolute; top:50%; left: 50%; transform: translate(-50%,-50%); width: 100%; max-width: 920px; background: rgba(0,0,0,0.8); text-align: center; padding: 30px 40px; border-radius: 10px; }
.images .image .overlay .inner h4 { color: blue; padding: 0; font-size: 90%;}
.images .image .overlay .inner h2 { color: white; font-size: 300%; line-height: 110%; font-weight: 700; }
.images .image .overlay .inner p { color: white; padding: 0; }

.buttonnavigation { position: fixed; bottom: 60px; left: 50%; transform: translateX(-50%); padding: 20px; box-sizing: border-box; background: #ffffff; width: 45%; min-width: 715px; transition: all .2s ease-in-out; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
.buttonnavigation .buttons { width: 100%; text-align: center; display: flex; flex-direction: row;  justify-content: center; }
.buttonnavigation .buttons .button { box-sizing: border-box; padding: 20px 30px; display: inline-block; background: #f2f2f2; margin: 0 10px; cursor: pointer; border-radius: 10px; transition: all .2s ease-in-out; flex: 1; position: relative; }
.buttonnavigation .buttons .button p { padding: 0; font-size: 200%; transition: all .5s ease-in-out; }
.buttonnavigation .buttons .button p.hovertext { font-size: 70%; position: absolute; top: -40px; left: 50%; transform: translateX(-50%)!important; padding: 8px 16px; box-sizing: border-box; background: #858585; color: #ffffff; border-radius: 10px; opacity: 0; transition: all .6s ease-in-out;  }
.buttonnavigation .buttons .button p a { color: #858585; }

.buttonnavigation .buttons .button:hover { flex-grow: 4; background: #858585; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
.buttonnavigation .buttons .button:hover p.hovertext { opacity: 0.9;  }
.buttonnavigation .buttons .button:hover p { transform: rotate(360deg); }
.buttonnavigation .buttons .button:hover p a { color: #ffffff; }

.buttonnavigation.smaller { width: 30%; bottom: 40px; padding: 15px; min-width: 430px; }
.buttonnavigation.smaller .buttons .button { padding: 10px 20px; margin: 0 5px }
.buttonnavigation.smaller .buttons .button p { font-size: 100%; }
.buttonnavigation.smaller .buttons .button p.hovertext { font-size: 50%; top: -30px; padding: 4px 10px; }



@media screen and (max-width: 1024px){
	
	.content-wrap .content .left { position: relative; top: auto; left: auto; transform: none; width: 100%; padding: 0 0 40px 0; }
	.content-wrap .content .right { float: none; width: 100%; }
	
	.buttonnavigation, .buttonnavigation.smaller  { left: auto; transform: none; right: 20px; width: 20%; }
	.buttonnavigation { min-width: 150px; }
	.buttonnavigation.smaller  { min-width: 75px; }
	.buttonnavigation .buttons, .buttonnavigation.smaller .buttons { width: 100%; text-align: center; display: flex; flex-direction: column; }
	.buttonnavigation .buttons .button, .buttonnavigation.smaller .buttons .button { margin: 0 0 10px 0; padding: 10px 20px; }
	.buttonnavigation .buttons .button p, .buttonnavigation.smaller .buttons .button { font-size: 100%; }
	.buttonnavigation .buttons .button p.hovertext { display: none; }

	.buttonnavigation.smaller .buttons .button p.hovertext, .buttonnavigation.smaller .buttons .button p.hovertext { font-size: 50%; top: -18px; padding: 4px 10px; }

}